@import './reset.css';
@import './layout.css';
@import './componentes.css';
@import './login.css';
@import './dashboard.css';
@import './aeronaves.css';
@import './pecas.css';
@import './testes.css';
@import './func.css';
@import './relatorio.css';
@import './etapas.css';